@import url(./fonts.css);
body {
  background: url("../image/fon_10.png") no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
}

.main {
  display: flex;
  padding-left: 10%;
  padding-right: 7%;
  height: 80vh;
  margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    flex-direction: column;
    padding: 1%;
    height: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .main {
    flex-direction: column;
    padding: 1%;
    height: 100%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .main {
    flex-direction: column;
    padding: 1%;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .main {
    padding-left: 5%;
    padding-right: 2%;
  }
}

.main__right {
  width: 55%;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main__right {
    width: 100%;
    height: 30%;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .main__right {
    width: 100%;
    height: 20%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .main__right {
    width: 100%;
    height: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .main__text {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .main__text {
    max-width: 62%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .text__adap {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .text__adap {
    background-image: linear-gradient(-90deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
    font-family: "MuseoSansCyrl";
    color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title__adapt {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .title__adapt {
    font-size: 60px;
  }
}

.text__adapt {
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .text__adapt {
    font-size: 20px;
  }
}

.main__title {
  padding-top: 25%;
  padding-left: 5%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main__title {
    padding: 2%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .main__title {
    padding: 5%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .main__title {
    padding-top: 20%;
    padding-left: 0;
  }
}

.main__btn {
  padding-left: 7%;
  padding-top: 23%;
  height: 30%;
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main__btn {
    padding: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .main__btn {
    padding-top: 50%;
    padding-left: 5%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .main__btn {
    padding-top: 60%;
    padding-left: 5%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .main__btn {
    padding-top: 27%;
  }
}

.btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.274);
  width: 180px;
  height: 35px;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(189deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "MuseoSansCyrl";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .btn {
    width: 140px;
    height: 35px;
  }
}

.btn__elem {
  width: 109%;
  margin-top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .btn__elem {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .btn__elem {
    width: 40%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .btn__elem {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .btn__elem {
    width: 87%;
  }
}

.main__left {
  width: 43%;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main__left {
    width: 100%;
    height: 25%;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .main__left {
    width: 100%;
    height: 35%;
    margin-top: 17%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .main__left {
    width: 100%;
    height: 35%;
    margin-top: 20%;
  }
}

.card__wrapper {
  padding-top: 20%;
  padding-left: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .card__wrapper {
    padding: 10px;
    justify-content: center;
    gap: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .card__wrapper {
    padding: 10px;
    justify-content: center;
    gap: 15px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .card__wrapper {
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 45%;
  font-family: "MuseoSansCyrl";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 100;
  color: #ffffff;
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .card {
    width: 23%;
    height: 23%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .card {
    width: 25%;
    height: 25%;
  }
}
.card:hover {
  cursor: pointer;
}
.card .card__text {
  padding-bottom: 15px;
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .card .card__text {
    padding-top: 15px;
  }
}
.card .number {
  font-size: 60px;
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .card .number {
    font-size: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 779px) {
  .card .number {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1679px) {
  .card .number {
    font-size: 40px;
  }
}
.card .card__text {
  font-size: 18px;
}

.one {
  background-image: linear-gradient(to left top, rgba(173, 173, 173, 0.082), rgba(153, 153, 153, 0));
}
.one:hover {
  background-image: linear-gradient(to left top, rgba(173, 173, 173, 0.199), rgba(153, 153, 153, 0));
  border-bottom: 0.5px solid rgba(152, 147, 147, 0.3647058824);
  border-right: 0.5px solid rgba(152, 147, 147, 0.3490196078);
}

.two {
  background-image: linear-gradient(to right top, rgba(173, 173, 173, 0.082), rgba(153, 153, 153, 0));
}
.two:hover {
  background-image: linear-gradient(to right top, rgba(173, 173, 173, 0.199), rgba(153, 153, 153, 0));
  border-bottom: 0.5px solid rgba(152, 147, 147, 0.3647058824);
  border-left: 0.5px solid rgba(152, 147, 147, 0.3490196078);
}

.three {
  background-image: linear-gradient(to left bottom, rgba(173, 173, 173, 0.082), rgba(153, 153, 153, 0));
}
.three:hover {
  background-image: linear-gradient(to left bottom, rgba(173, 173, 173, 0.199), rgba(153, 153, 153, 0));
  border-top: 0.5px solid rgba(152, 147, 147, 0.3647058824);
  border-right: 0.5px solid rgba(152, 147, 147, 0.3490196078);
}

.four {
  background-image: linear-gradient(to right bottom, rgba(173, 173, 173, 0.082), rgba(153, 153, 153, 0));
}
.four:hover {
  background-image: linear-gradient(to right bottom, rgba(173, 173, 173, 0.199), rgba(153, 153, 153, 0));
  border-top: 0.5px solid rgba(152, 147, 147, 0.3647058824);
  border-left: 0.5px solid rgba(152, 147, 147, 0.3490196078);
}/*# sourceMappingURL=index.css.map */